* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
div.header {
  width: 100%;
  height: 144px;
  background-color: #28262e;
  display: flex;
}
div.logo {
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  align-items: center;
}
div.logo img.logo {
  width: 137.6px;
  height: 80px;
}
span.barbeiro {
  display: flex;
  align-items: center;
  color: #ff9000;
  margin-left: 20%;
}
span {
  color: #ff9000;
}
div.login {
  width: 100%;
  position: relative;
  justify-content: flex-end;
  margin-right: 10%;
  display: flex;
  align-items: center;
}
div.header div.login img.sair {
  width: 20px;
  height: 20px;
}
div.login p {
  margin-left: 15px;
  width: 15%;
  color: #999591;
  font-weight: bolder;
}

div.login img.fperfil {
  border-radius: 50px;
  width: 56px;
  height: 56px;
}
