
body {
    overflow:hidden;
}
div.header img.seta2 {
    margin-top:40px;
    margin-left:20px;
    width:50px;
    height:50px;
    position:absolute;
}
div.fotoperfil {
    display:flex;
    justify-content: center;
    width:100%;
    margin-top:50px;
    
}
img.fperfil {
    border-radius:50%;
    width:186px;
    height:186px;
    
}
img.trocar {
    width:48px;
    height:48px;
    margin-top:135px;
    margin-left:-50px;
}


div.bloco {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;   
    position:relative;
    
}
div.conteudo {
    margin-bottom:8%;  
}
form {
    height:100%;
}

h2 {
    color:#F4EDE8;
    font-size:20px;
    font-weight:bolder;
    margin-bottom:10%;
    margin-left:2%;
    
}
div.input1 {
    margin-bottom:32px;
    width:100%;
}
div.input2 {
    margin-bottom:7px;
    width:100%;
}
@media screen and (min-width:300px) and (max-width:600px) {
       div.header img.seta2 {
        width:40px;
        height:40px;  
    }
         form {
    width:250px;
    }
        button {
    width:250px;
    }
}